:root {
  --clr-Soft_blue: hsl(215, 51%, 70%);
  --clr-Cyan: hsl(178, 100%, 50%);
  --clr-dark_blue-main: hsl(217, 54%, 11%);
  --clr-dark_blue-card: hsl(216, 50%, 16%);
  --clr-dark_blue-line: hsl(215, 32%, 27%);
  --clr-white: hsl(0, 0%, 100%);
  --main-trans-dur: 0.3s;
  --fw-bold: 600;
  --fw-light: 400;
  --fw-thin: 300;
}

* {
  padding: 0;
  margin: 0;
  font-family: "Outfit", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--clr-dark_blue-main);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  padding: 20px;
  background-color: var(--clr-dark_blue-card);
  border-radius: 20px;
}

@media (width > 375px) {
  .container {
    max-width: 370px;
  }
}

@media screen and (width < 767px) {
  .container {
    margin-inline: 15px;
  }
}

.container .image {
  position: relative;
  transition: all var(--main-trans-dur) ease;
  z-index: 1;
}

.image svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  fill-opacity: 0;
  transition: var(--main-trans-dur) ease;
}

.container .image img {
  max-width: 100%;
  border-radius: 10px;
  display: block;
}

.container .image::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: var(--clr-Cyan);
  border-radius: 10px;
  cursor: pointer;
  opacity: 0;
  z-index: 1;
  transition: all var(--main-trans-dur) ease;
}

.container .image:hover svg {
  fill-opacity: 1;
}

.container .image:hover::after {
  opacity: 0.3;
}

.container > h2 {
  color: var(--clr-white);
  font-weight: var(--fw-bold);
  transition: color var(--main-trans-dur) ease;
  width: fit-content;
  cursor: default;
  margin-top: 20px;
  margin-bottom: 15px;
}

.container > h2:hover {
  color: var(--clr-Cyan);
}

.container > p {
  line-height: 1.8;
  color: var(--clr-Soft_blue);
  margin-bottom: 10px;
  font-weight: var(--fw-thin);
}

.container .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding: 0 0 20px;
}

.container .info::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: var(--clr-dark_blue-line);
}

.container .info > div:nth-child(1) {
  color: var(--clr-Cyan);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.container .info > div img {
  margin-right: 5px;
}

.container .info div:nth-child(2) {
  color: var(--clr-Soft_blue);
  font-size: 15px;
  display: flex;
  align-items: center;
}

.footer {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
}

.footer img {
  width: 40px;
  height: 40px;
  border: 1px solid var(--clr-white);
  border-radius: 50%;
}

.footer p {
  color: var(--clr-Soft_blue);
}

.footer p span {
  color: var(--clr-white);
  cursor: default;
  transition: color var(--main-trans-dur) ease;
}

.footer p span:hover {
  color: var(--clr-Cyan);
}
